<style>
			* {
				box-sizing: border-box;
			}

			body {
				background-color: white;
				background-image: url("image.jpg");
				background-repeat: no-repeat;
				background-position: center;
				background-attachment: fixed;
				margin: 0px;
			}

			h1 {
				text-align: center;
				background-color: #909090;
				font-family: Comic Sans MS;
				font-weight: bold;
				font-style: italic;
				border: 2px dotted blue;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 15px;
				padding-left: 15px;
				width: 250px;
				margin-bottom: 20px;
				color: white;
				text-shadow: 2px 4px black;

			}

			p {
				text-align: justified;
				background-color: hsl(0,0%,56%);
				font-style: italic;
				padding: 20px;
				border: 3px solid black;
				border-top-style: dotted; 
				border-right-style: double; 
				border-bottom-style: dashed; 
				border-left-style: solid; 
				width: 500px;
				color: rgb(255,0,0);
				font-family: Comic Sans MS;
				font-weight: bold;
				text-shadow: 2px 2px black;	
				margin-left: 2px;
				margin-right: 5px;
			}

			div {
				border: 1px solid black;
			}

			a {
				text-decoration: none;
			}


		</style>